@charset "UTF-8";
@font-face {
  font-family: handwrite;
  /* Имя шрифта */
  src: url(../fonts/unn.ttf);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: unn;
  /* Имя шрифта */
  src: url(../fonts/unn.ttf);
  /* Путь к файлу со шрифтом */
}
* {
  font-weight: normal;
  /*   border: 1px dashed #ccc;*/
}

.adress2 {
  width: 18cm;
}

.v_invitation_1 {
  border: 1px dashed gray;
  padding: 0 1cm;
}
.v_invitation_1 .hGERB {
  height: 120px;
  margin-left: 7.8cm;
  padding-bottom: 12pt;
  width: 86px;
}
.v_invitation_1 .hMON {
  font-size: 12.5pt;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 16pt;
  text-align: center;
}
.v_invitation_1 .hDDTUfull, .v_invitation_1 .hDDTUshort {
  font-size: 12.5pt;
  font-weight: bold;
  text-align: center;
}
.v_invitation_1 .hDDTUshort, .v_invitation_1 .hMAIL {
  display: block;
  padding-bottom: 12pt;
  text-align: center;
}
.v_invitation_1 .hMAIL > span {
  text-decoration: underline;
}
.v_invitation_1 .hADRESS {
  font-size: 12pt;
  text-align: center;
}
.v_invitation_1 .hDATA {
  padding-bottom: 6pt;
}
.v_invitation_1 .hDATA span {
  font-family: handwrite;
  font-size: 14pt;
  text-decoration: underline;
}
.v_invitation_1 #rectory {
  margin-left: 10cm;
  margin-top: 1cm;
}
.v_invitation_1 #message {
  margin-top: 1cm;
}
.v_invitation_1 #message p {
  margin: 3pt 0;
  text-align: justify;
  text-indent: 20px;
}
.v_invitation_1 #message2 p {
  margin: 3pt 0;
  margin-top: 0;
  text-align: justify;
  text-indent: 20px;
}
.v_invitation_1 #message2 ol {
  margin-left: 1.25cm;
  margin-top: 0;
}

ol {
  margin-bottom: 0;
}

.v_invitation_1, .v_invitation_2 {
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  width: 18cm;
}
.v_invitation_1 #golova, .v_invitation_2 #golova {
  float: left;
  margin-left: 1.5cm;
  padding-top: 1em;
  width: 45%;
}
.v_invitation_1 #podpis, .v_invitation_2 #podpis {
  margin-left: 11.5cm;
  padding-bottom: 30pt;
  padding-top: 1em;
}
.v_invitation_1 #dstuheader, .v_invitation_1 #dstuheader2, .v_invitation_2 #dstuheader, .v_invitation_2 #dstuheader2 {
  background-image: url(../img/dstuheader6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16cm auto;
  height: 7.5cm;
  margin: 0 auto;
  width: 16cm;
}

.v_invitation_2 #application1 {
  margin-left: 15.5cm;
  width: 2.2cm;
}
.v_invitation_2 #listsudents_title, .v_invitation_2 #univer_title {
  text-align: center;
}
.v_invitation_2 #message p {
  margin: 3pt 0;
  text-align: justify;
  text-indent: 20px;
}

header {
  margin: 5mm 10% 2mm 10%;
  text-align: center;
  font-size: 12pt;
}

/*#podpis_image, /* Раскоментирвать для печати отчета*/
#podpis_image2 {
  margin-left: 0.25cm;
  margin-top: 1cm;
  background-image: url(../img/podpis_image5.jpg);
  background-size: 17.5cm auto;
  background-repeat: no-repeat;
  width: 665px;
  height: 190px;
}

#podpis_image3 {
  margin-left: 10.5cm;
  margin-top: 1cm;
  background-image: url(../img/podpis_image5.jpg);
  background-size: 17.5cm auto;
  background-repeat: no-repeat;
  width: 300px;
  height: 140px;
}

#podpis_image4 {
  margin-left: 10.5cm;
  margin-top: 1cm;
  background-image: url(../img/podpis_image5_2.jpg);
  background-size: 8cm auto;
  background-repeat: no-repeat;
  width: 300px;
  height: 140px;
}

#prorector {
  width: 10cm;
  margin-left: 10mm;
  float: left;
}

#prorectorNAME {
  width: 6.5cm;
  float: right;
  /*display: inline;*/
}

#table {
  width: 17cm;
  margin-left: 10mm;
  margin-bottom: 5mm;
}

table, td, th {
  border-collapse: collapse;
  border-color: black;
  border-spacing: 0;
  border-style: solid;
  border-width: 1px;
}

th {
  text-align: center;
  font-weight: bold;
}

td {
  text-align: left;
}

strong {
  font-weight: bold;
  font-size: 10pt;
}

strong > ins {
  font-size: 10pt;
  font-weight: bold;
  text-decoration: underline;
}

h1 {
  font-size: 12pt;
  text-align: center;
  font-weight: bold;
  width: 280mm;
}

p {
  margin: 0 2px;
}

.tableprogramma {
  width: 200mm;
}

.tableprotocol {
  width: 280mm;
}

.tda, .tdl, .tdid, .tdu {
  text-align: center;
}

.tdn {
  width: 8mm;
}

.tda {
  width: 30mm;
  font-size: 12pt;
}

.tdt {
  width: 110mm;
}

.tdl {
  width: 30mm;
}

.tdid {
  width: 10mm;
}

.tdu {
  width: 10mm;
}

.tdbb {
  width: 7mm;
}

.tds {
  text-align: center;
  font-style: italic;
  text-decoration: underline;
}

.diplom {
  background-image: url(../img/diplom2017.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1px solid black;
  font-size: 16pt;
  height: 282mm;
  text-align: center;
  width: 200mm;
}
.diplom div {
  /*border: 1px solid #ccc;*/
  font-style: italic;
  font-weight: bolder;
  margin-left: 28mm;
  width: 140mm;
}
.diplom .line1 {
  font-size: 20pt;
  font-style: normal;
  padding-top: 100mm;
}

.diplom .line2, .charters .line2 {
  font-style: normal;
}
.diplom .line3, .charters .line3 {
  height: 3.5em;
}
.diplom .line4, .charters .line4 {
  font-size: 18pt;
  font-style: normal;
  height: 1.5em;
}
.diplom .line5, .charters .line5 {
  height: 6em;
}

.charters .line6 {
  font-size: 13pt;
}

.diplom .line7, .charters .line7 {
  height: 4em;
}

.charters .line7 {
  font-size: 13pt;
}

.diplom .line8, .charters .line8, .gratitudes .line8 {
  float: left;
  font-size: 14pt;
  padding-left: 5mm;
  text-align: left;
  width: 85mm;
}
.diplom .line9, .charters .line9, .gratitudes .line9 {
  float: none;
  font-size: 14pt;
  padding-left: 55mm;
  padding-top: 0;
  text-align: right;
  width: 80mm;
}
.diplom .line10, .charters .line10, .gratitudes .line10 {
  padding-top: 2em;
}

.gratitudes {
  background-image: url(../img/pod2015.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 16pt;
  font-style: italic;
  font-weight: bold;
  height: 282mm;
  text-align: center;
  width: 210mm;
}
.gratitudes div {
  /*border: 1px solid #ccc;*/
  font-style: italic;
  font-weight: bolder;
  margin-left: 28mm;
  width: 150mm;
}
.gratitudes .line1 {
  font-weight: bold;
  padding-top: 100mm;
}
.gratitudes .line2 {
  font-weight: bold;
  margin-top: 2mm;
}
.gratitudes .line3 {
  font-size: 18pt;
  font-style: normal;
  font-weight: bolder;
  height: 2em;
  margin-top: 5mm;
  text-transform: uppercase;
}
.gratitudes .line6, .gratitudes .line5, .gratitudes .line4 {
  font-size: 16pt;
  font-weight: bold;
  padding: 3mm 0;
}
.gratitudes div {
  border: 1px solid #ccc;
}

.charters {
  background-image: url(../img/gramota2015.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 14pt;
  height: 282mm;
  text-align: center;
  width: 200mm;
}
.charters div {
  border: 1px solid #ccc;
  font-style: italic;
  font-weight: bolder;
  margin-left: 35mm;
  width: 130mm;
}
.charters .line1 {
  padding-top: 110mm;
}

.charters .line8, .gratitudes .line8 {
  width: 80mm;
}

.charters .line9, .gratitudes .line9 {
  width: 50mm;
  padding-left: 80mm;
}

.gratitudes .line9 {
  width: 70mm;
}

.tableprotocol {
  page-break-after: always;
}

.envelope {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12pt !important;
  margin: 0;
  padding: 0;
  width: 210mm;
}
.envelope .from-address {
  font-family: inherit;
  height: 25mm;
  margin-left: 8mm;
  margin-top: 25mm;
  padding-top: 4mm;
  width: 75mm;
}
.envelope .whom-address {
  font-family: inherit;
  margin-left: 135mm;
  margin-top: 0;
  padding-top: 7mm;
  width: 75mm;
  word-wrap: break-word;
}

/* Оформление бейджиков*/
.badges {
  float: left;
  width: 18.2cm;
}

/*Отдельный бейдж*/
.badge {
  border: 1px solid black;
  float: left;
  font-family: Verdana, Geneva, sans-serif;
  height: 5.4cm;
  text-align: center;
  width: 9cm;
}
.badge .konkurs {
  font-family: "Times New Roman", Times, serif;
}
.badge .buniverfull {
  font-size: 12pt;
}
.badge .bfio {
  font-family: inherit;
  font-size: 18pt;
  font-style: italic;
  font-weight: bolder;
}
.badge .id-number {
  font-family: inherit;
  font-size: 60pt;
  font-weight: bolder;
  letter-spacing: 25px;
  line-height: 60pt;
  margin: 0;
  padding: 0;
}
.badge .bif {
  font-family: inherit;
  font-size: 24pt;
  font-style: italic;
  font-weight: bolder;
  padding-top: 0;
}

/*Hide all header in media view mode
div[class^="h"],img[class^="h"]{
display:none;
}

/*PRINT view */
@media print {
  /* Make page break always when see on print*/
  .whom-address,
#podpis_image,
.charters,
.diplom,
.gratitudes {
    page-break-after: always;
  }

  /*Page break in table print */
  .tableprotocol tr:nth-child(11n) {
    page-break-after: always;
  }

  .gratitudes .line1 {
    padding-top: 110mm;
    font-weight: bold;
  }

  /*#dstuheader{
            /* Закоментировано для печати отчета*/
  /*background-image: none;*/
  /*display: none;
  }
  */
  hr, .page-break {
    display: none;
    page-break-after: always;
  }

  #podpis {
    page-break-after: always;
  }

  .diplom,
.charters,
.gratitudes {
    background-image: none;
    border: none;
    color: black;
  }

  .diplom div,
.charters div,
.gratitudes div {
    border: none;
  }

  /*.line8,
  .line9,
  .line10{
       color:white;
      /*color: red;
      /*display: none;
   }*/
  #badge {
    page-break-inside: avoid;
  }

  /*VIEW HEADER OF DOCUMENT*/
  .v_invitation_1 {
    border: none;
    padding: 0;
  }
  .v_invitation_1 .hGERB {
    margin-left: 7.8cm;
    padding-bottom: 12pt;
  }
  .v_invitation_1 .hMON {
    display: block;
    font-size: 12.5pt;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 16pt;
    text-align: center;
  }
  .v_invitation_1 .hDDTUfull, .v_invitation_1 .hDDTUshort {
    display: block;
    font-size: 12.5pt;
    font-weight: bold;
    text-align: center;
  }
  .v_invitation_1 .hDDTUshort, .v_invitation_1 .hMAIL {
    display: block;
    padding-bottom: 12pt;
    text-align: center;
  }
  .v_invitation_1 .hMAIL > span {
    text-decoration: underline;
  }
  .v_invitation_1 .hADRESS {
    display: block;
    font-size: 12pt;
    text-align: center;
  }
  .v_invitation_1 .hDATA {
    display: block;
    padding-bottom: 6pt;
    text-align: center;
  }
  .v_invitation_1 .hDATA span {
    font-family: unn;
    font-size: 14pt;
    text-decoration: underline;
  }
}
/* END Print*/
#id {
  font-weight: bold;
}

#test {
  color: #7b68ee;
  font-family: unn;
  font-size: 12pt;
}

/*# sourceMappingURL=print.css.map */
