@font-face {
  font-family: handwrite; /* Имя шрифта */
  src: url(../fonts/unn.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: unn; /* Имя шрифта */
  src: url(../fonts/unn.ttf); /* Путь к файлу со шрифтом */
}

* {
  font-weight: normal;
  /*   border: 1px dashed #ccc;*/
}

.adress2 {
  width: 18cm;
}

.v_invitation_1 {
  border: 1px dashed gray;
  padding: 0 1cm;

  .hGERB {
    height: 120px;
    margin-left: 7.8cm;
    padding-bottom: 12pt;
    width: 86px;
  }

  .hMON {
    font-size: 12.5pt;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 16pt;
    text-align: center;
  }

  .hDDTUfull, .hDDTUshort {
    font-size: 12.5pt;
    font-weight: bold;
    text-align: center;
  }

  .hDDTUshort, .hMAIL {
    display: block;
    padding-bottom: 12pt;
    text-align: center;
  }

  .hMAIL > span {
    text-decoration: underline;
  }

  .hADRESS {
    font-size: 12pt;
    text-align: center;
  }

  .hDATA {
    padding-bottom: 6pt;

    span {
      font-family: handwrite;
      font-size: 14pt;
      text-decoration: underline;
    }
  }

  #rectory {
    margin-left: 10cm;
    margin-top: 1cm;
  }

  #message {
    margin-top: 1cm;

    p {
      margin: 3pt 0;
      text-align: justify;
      text-indent: 20px
    }
  }

  #message2 {
    p {
      margin: 3pt 0;
      margin-top: 0;
      text-align: justify;
      text-indent: 20px;
    }

    ol {
      margin-left: 1.25cm;
      margin-top: 0;
    }
  }
}

ol {
  margin-bottom: 0;
}

.v_invitation_1, .v_invitation_2 {
  font-family: "Times New Roman", Times, serif;;
  font-weight: normal;
  width: 18cm;

  #golova {
    float: left;
    margin-left: 1.5cm;
    padding-top: 1em;
    width: 45%;
  }

  #podpis {
    margin-left: 11.5cm;
    padding-bottom: 30pt;
    padding-top: 1em;
  }

  #dstuheader, #dstuheader2 {
    background-image: url(../img/dstuheader6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16cm auto;
    height: 7.5cm;
    margin: 0 auto;
    width: 16cm;
  }
}

.v_invitation_2 {
  #application1 {
    margin-left: 15.5cm;
    width: 2.2cm;
  }

  #listsudents_title, #univer_title {
    text-align: center;
  }

  #message {
    p {
      margin: 3pt 0;
      text-align: justify;
      text-indent: 20px;
    }
  }
}

header {
  margin: 5mm 10% 2mm 10%;
  text-align: center;
  font-size: 12pt;
}

/*#podpis_image, /* Раскоментирвать для печати отчета*/
#podpis_image2 {
  margin-left: 0.25cm;
  margin-top: 1cm;
  background-image: url(../img/podpis_image5.jpg);
  background-size: 17.5cm auto;
  background-repeat: no-repeat;
  width: 665px;
  height: 190px;
}

#podpis_image3 {
  margin-left: 10.5cm;
  margin-top: 1cm;
  background-image: url(../img/podpis_image5.jpg);
  background-size: 17.5cm auto;
  background-repeat: no-repeat;
  width: 300px;
  height: 140px;
}


#podpis_image4 {
  margin-left: 10.5cm;
  margin-top: 1cm;
  background-image: url(../img/podpis_image5_2.jpg);
  background-size: 8.0cm auto;
  background-repeat: no-repeat;
  width: 300px;
  height: 140px;
}


#prorector {
  width: 10cm;
  margin-left: 10mm;
  float: left;
}

#prorectorNAME {

  width: 6.5cm;
  float: right;
  /*display: inline;*/
}

#table {
  width: 17cm;
  margin-left: 10mm;
  margin-bottom: 5mm;
}

table, td, th {
  border-collapse: collapse;
  border-color: black;
  border-spacing: 0;
  border-style: solid;
  border-width: 1px;
}

th {
  text-align: center;
  font-weight: bold;
}

td {
  text-align: left;
}

strong {
  font-weight: bold;
  font-size: 10pt;
}

strong > ins {
  font-size: 10pt;
  font-weight: bold;
  text-decoration: underline;
}

h1 {
  font-size: 12pt;
  text-align: center;
  font-weight: bold;
  width: 280mm;
}

p {
  margin: 0 2px;
}

.tableprogramma {
  width: 200mm;
}


.tableprotocol {
  width: 280mm;
}

.tda, .tdl, .tdid, .tdu {
  text-align: center;
}

.tdn {
  width: 8mm;

}

.tda {
  width: 30mm;
  font-size: 12pt;
}

.tdt {
  width: 110mm;
}

.tdl {
  width: 30mm;
}

.tdid {
  width: 10mm;
}

.tdu {
  width: 10mm;
}

.tdbb {
  width: 7mm;
}

.tds {
  text-align: center;
  font-style: italic;
  text-decoration: underline;
}


.diplom {
  background-image: url(../img/diplom2017.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1px solid black;
  font-size: 16pt;
  height: 282mm;
  text-align: center;
  width: 200mm;

  div {
    /*border: 1px solid #ccc;*/
    font-style: italic;
    font-weight: bolder;
    margin-left: 28mm;
    width: 140mm;
  }

  .line1 {
    font-size: 20pt;
    font-style: normal;
    padding-top: 100mm;
  }
}

.diplom, .charters {
  .line2 {
    font-style: normal;
  }

  .line3 {
    height: 3.5em;
  }

  .line4 {
    font-size: 18pt;
    font-style: normal;
    height: 1.5em;
  }

  .line5 {
    height: 6em;
  }
}

.diplom .line6 {
}

.charters .line6 {
  font-size: 13pt;
}

.diplom .line7, .charters .line7 {
  height: 4em;
}

.charters .line7 {
  font-size: 13pt;
}

.diplom, .charters, .gratitudes {
  .line8 {
    float: left;
    font-size: 14pt;
    padding-left: 5mm;
    text-align: left;
    width: 85mm;
  }

  .line9 {
    float: none;
    font-size: 14pt;
    padding-left: 55mm;
    padding-top: 0;
    text-align: right;
    width: 80mm;
  }

  .line10 {
    padding-top: 2em;
  }
}

.gratitudes {
  background-image: url(../img/pod2015.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 16pt;
  font-style: italic;
  font-weight: bold;
  height: 282mm;
  text-align: center;
  width: 210mm;

  div {
    /*border: 1px solid #ccc;*/
    font-style: italic;
    font-weight: bolder;
    margin-left: 28mm;
    width: 150mm;
  }

  .line1 {
    font-weight: bold;
    padding-top: 100mm;
  }

  .line2 {
    font-weight: bold;
    margin-top: 2mm;
  }

  .line3 {
    font-size: 18pt;
    font-style: normal;
    font-weight: bolder;
    height: 2em;
    margin-top: 5mm;
    text-transform: uppercase;
  }

  .line6, .line5, .line4 {
    font-size: 16pt;
    font-weight: bold;
    padding: 3mm 0;
  }

  div {
    border: 1px solid #ccc;
  }
}

.charters {
  background-image: url(../img/gramota2015.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 14pt;
  height: 282mm;
  text-align: center;
  width: 200mm;

  div {
    border: 1px solid #ccc;
    font-style: italic;
    font-weight: bolder;
    margin-left: 35mm;
    width: 130mm;
  }

  .line1 {
    padding-top: 110mm;

  }
}

.charters .line8, .gratitudes .line8 {
  width: 80mm;
}

.charters .line9, .gratitudes .line9 {
  width: 50mm;
  padding-left: 80mm;
}

.gratitudes .line9 {
  width: 70mm;
}

.tableprotocol {
  page-break-after: always;
}

.envelope {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12pt !important;
  margin: 0;
  padding: 0;
  width: 210mm;

  .from-address {
    font-family: inherit;
    height: 25mm;
    margin-left: 8mm;
    margin-top: 25mm;
    padding-top: 4mm;
    width: 75mm;
  }

  .whom-address {
    font-family: inherit;
    margin-left: 135mm;
    margin-top: 0;
    padding-top: 7mm;
    width: 75mm;
    word-wrap: break-word;
  }
}

/* Оформление бейджиков*/

.badges {
  float: left;
  width: 18.2cm;
}

/*Отдельный бейдж*/

.badge {
  border: 1px solid black;
  float: left;
  font-family: Verdana, Geneva, sans-serif;
  height: 5.4cm;
  text-align: center;
  width: 9cm;

  .konkurs {
    font-family: "Times New Roman", Times, serif;
  }

  .buniverfull {

    font-size: 12pt;
  }

  .bfio {
    font-family: inherit;
    font-size: 18pt;
    font-style: italic;
    font-weight: bolder;
  }

  .id-number {
    font-family: inherit;
    font-size: 60pt;
    font-weight: bolder;
    letter-spacing: 25px;
    line-height: 60pt;
    margin: 0;
    padding: 0;

  }

  .bif {
    font-family: inherit;
    font-size: 24pt;
    font-style: italic;
    font-weight: bolder;
    padding-top: 0;
  }
}

/*Hide all header in media view mode
div[class^="h"],img[class^="h"]{
display:none;
}

/*PRINT view */
@media print {

  /* Make page break always when see on print*/
  .whom-address, /*3 rows*/
    /*#podpis,
    #podpis_image3,
    #podpis_image2,*/
  #podpis_image,
  .charters,
  .diplom,
  .gratitudes {
    page-break-after: always;
  }
  /*Page break in table print */
  .tableprotocol tr:nth-child(11n) {
    page-break-after: always;
  }


  .gratitudes .line1 {
    padding-top: 110mm;
    font-weight: bold;
  }

  /*#dstuheader{
            /* Закоментировано для печати отчета*/
  /*background-image: none;*/
  /*display: none;
}
*/

  hr, .page-break {
    display: none;
    page-break-after: always;
  }
  #podpis {
    page-break-after: always;
  }

  .diplom,
  .charters,
  .gratitudes {
    background-image: none;
    border: none;
    color: black;
  }

  .diplom,
  .charters,
  .gratitudes {
    div {
      border: none;
    }
  }
  /*.line8,
  .line9,
  .line10{
       color:white;
      /*color: red;
      /*display: none;
   }*/
  #badge {
    page-break-inside: avoid;
  }

  /*VIEW HEADER OF DOCUMENT*/
  .v_invitation_1 {
    border: none;
    padding: 0;

    .hGERB {
      margin-left: 7.8cm;
      padding-bottom: 12pt;
    }

    .hMON {
      display: block;
      font-size: 12.5pt;
      font-weight: bold;
      letter-spacing: 1px;
      padding-bottom: 16pt;
      text-align: center;
    }

    .hDDTUfull, .hDDTUshort {
      display: block;
      font-size: 12.5pt;
      font-weight: bold;
      text-align: center;
    }

    .hDDTUshort, .hMAIL {
      display: block;
      padding-bottom: 12pt;
      text-align: center;
    }

    .hMAIL > span {
      text-decoration: underline;
    }

    .hADRESS {
      display: block;
      font-size: 12pt;
      text-align: center;
    }

    .hDATA {
      display: block;
      padding-bottom: 6pt;
      text-align: center;

      span {
        font-family: unn;
        font-size: 14pt;
        text-decoration: underline;
      }
    }
  }
}

/* END Print*/
#id {
  font-weight: bold;
}

#test {
  color: #7b68ee;
  font-family: unn;
  font-size: 12pt;
}